@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: JetBrains Mono, sans-serif;
}

/* .sky-background {
  background: linear-gradient(to bottom, #dce4f7 0%, #3b5fc1 100%);
  min-height: 100vh;
  width: 100%;
  position: relative;
} */

.navy-background {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  min-height: 100vh;
  width: 100%;
}

.gradient-blue {
  background: linear-gradient(90deg, #a78bfa, #60a5fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* For Firefox */
  background-clip: text;
  color: transparent;
}

.gradient-blue-bg {
  background: linear-gradient(90deg, #a78bfa, #60a5fa);
}

html {
  scroll-behavior: smooth;
}



